service cloud.firestore {
  match /databases/{database}/documents {
    match /menus/{menuId} {
      allow read, write: if true; // oder deine spezifischen Bedingungen
    }
  }
}

